:root {
  --nav-height: 93px;
  --hover: rgb(229, 229, 228);
}

/* signup and login forms */
.form {
  display: flex;
  flex-direction: column;
}

.form p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.form p input {
  width: 100%;
  max-width: 300px;
  min-height: 2rem;
  font-size: 1rem;
  outline: none;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid;
}

/* Home Page */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 8vw;
  display: flex;
  justify-content: space-between;
}
.imageContainer{

}
.image {
  width: 100%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
.loginLink {
  color: blue;
  cursor: pointer;
}

/* Dashboard */
.dashboard {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  min-height: 100vh;
}

.dashRight {
  position: sticky;
  top: var(--nav-height);
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subscribe,
.admin {
  margin: 0;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  max-width: 300px;
  border-radius: 5px;
  padding: 1rem;
  text-align: left;
}

.subscribe > *,
.admin > * {
  margin: 0;
}

.subscribeButton,
.adminButton {
  align-self: flex-start;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribeButton:hover,
.adminButton:hover {
  background-color: var(--hover);
}

.phonePostButtonContainer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.phonePostButton {
  fill: white;
  width: 30px;
}

/* Post message */
.postSection {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 10px;
}

textarea {
  outline: none;
  resize: none;
  border: none;
  width: 100%;
  min-height: 50px;
  padding: 1rem 0;
  line-height: 1.5;
  field-sizing: content;
}

.postCancel {
  width: 20px;
  height: 20px;
  color: rgb(15, 20, 25);
  cursor: pointer;
}

.postButtonDiv {
  width: 100%;
  border-top: 1px solid #eff3f4;
  display: flex;
  justify-content: flex-end;
}

.postButton {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  opacity: 0.5;
}

@media (max-width: 1050px) {
  .subscribe,
  .admin {
    display: none;
  }
}

@media (max-width: 620px) {
  .dashboard {
    gap: 0;
  }
  .phonePostButtonContainer {
    display: flex;
    bottom: 78px;
    right: 1.5rem;
    position: fixed;
    z-index: 10;
  }
}
