:root {
  --nav-height: 93px;
  --hover: rgb(229, 229, 228);
}

/* signup and login forms */
h1 {
  margin: 0;
  font-size: clamp(24px,3rem,4vw);
  text-align: center;
}
.signupText{
  text-align: center;
}
.signupMain {
  display: flex;
  flex-direction: row-reverse;
  min-height: 100vh;
}
.signupContainer {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.signUpImageContainer {
  flex: 0.5;
  overflow: hidden;
}

.signUpImage {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.form p input {
  width: 100%;
  max-width: 300px;
  min-height: 2rem;
  font-size: 1rem;
  outline: none;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid;
}

.guest p{
  text-align: center;
}

/* Home Page */
.home {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 8vw;
  margin: 0;
}

.imageSection{
  display: flex;
  gap: 1rem;
}

.imageContainer{
  max-height: 500px;
}

.image {
  width: 100%;
  object-fit: contain;
  object-position: right;
  border-radius: 10px;
}

.loginLink {
  color: blue;
  cursor: pointer;
}

.text {
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.5;
}

h2,
h3 {
  text-align: left;
}

.list {
  list-style: none;
  text-align: left;
  display: flex;
  padding: 0;
}

/* Login */
.loginMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.Loginlogo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Loginlogo p{
  font-size: 2rem;
}

.lotties{
  display: flex;
  cursor: pointer;
}

.guest{
  padding-top: 2rem;
}

.loginMain p{
  text-align: center;
}

hr {
  border: none;
  border-top: 3px double #333333;
  color: #333333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr::after{
  background: white;
  content: "Or";
  padding: 5px 4px;
  position: relative;
  top: -13px;
}

/* Dashboard */
.dashboard {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  min-height: 100vh;
  padding: 1rem;
}

.dashRight {
  position: sticky;
  top: var(--nav-height);
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.subscribeContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subscribe,
.admin,.trending {
  margin: 0;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  max-width: 300px;
  border-radius: 5px;
  padding: 1rem;
  text-align: left;
}

.subscribe > *,
.admin > * {
  margin: 0;
}

.subscribeButton,
.adminButton {
  align-self: flex-start;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribed{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: green;
}

.subscribeButton:hover,
.adminButton:hover {
  background-color: var(--hover);
}

.phonePostButtonContainer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.phonePostButton {
  fill: white;
  width: 30px;
}

/* Post message */
.postSection {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 10px;
}

textarea {
  outline: none;
  resize: none;
  border: none;
  width: 100%;
  min-height: 50px;
  padding: 1rem 0;
  line-height: 1.5;
  field-sizing: content;
}

.postCancel {
  width: 20px;
  height: 20px;
  color: rgb(15, 20, 25);
  cursor: pointer;
}

.postButtonDiv {
  width: 100%;
  border-top: 1px solid #eff3f4;
  display: flex;
  justify-content: flex-end;
}

.postButton {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  opacity: 0.5;
}

.lottie {
  margin: 0;
  width: 150px;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .subscribe,
  .admin,.trending {
    display: none;
  }
}

@media (max-width: 620px) {
  .dashboard {
    gap: 0;
  }
  .phonePostButtonContainer {
    display: flex;
    bottom: 85px;
    right: 1.5rem;
    position: fixed;
    z-index: 10;
  }
}

@media (max-width: 1300px) {
  .signupMain {
    flex-direction: column-reverse;
  }
  .signupContainer {
    flex: 1;
    justify-content: flex-start;
    padding: 1rem;
  }
  .signUpImageContainer {
    flex: 0.3;
  }
  .signUpImage {
    width: 100%;
    max-height: 400px;
    object-position: bottom 20% right;
  }
}