/* signup and login forms */
.form {
  display: flex;
  flex-direction: column;
}

.form p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.form p input {
  width: 100%;
  max-width: 300px;
  min-height: 2rem;
  font-size: 1rem;
  outline: none;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid;
}


/* Home Page */
.loginLink{
    color: blue;
    cursor: pointer;
}