/* signup and login forms */
.form {
  display: flex;
  flex-direction: column;
}

.form p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.form p input {
  width: 100%;
  max-width: 300px;
  min-height: 2rem;
  font-size: 1rem;
  outline: none;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid;
}


/* Home Page */
.loginLink{
    color: blue;
    cursor: pointer;
}

/* Dashboard */
.dashboard{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.subscribe{
  margin: 0;
  border: 1px solid var(--border);
  height: fit-content;
  display: flex;
  flex-direction: column;
 justify-content: flex-start;
  gap: 1rem;
  max-width: 300px;
  border-radius: 5px;
  padding: 1rem;
  text-align: left;
}

.subscribe > *{
  margin: 0;
}

.subscribeButton{
  align-self: flex-start;
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribeButton:hover{
  background-color: rgb(229, 229, 228);
}
