.button {
  font-size: 1.1rem;
  padding: 0.7rem 1rem;
  width: 300px;
  max-width: 300px;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s linear, background-color 0.3s ease-in;
}

.button:hover {
  transform: translateY(-5px);
}

.button:active {
  transform: translateY(0);
}

.guestButton{
    background-color: black;
    border-radius: 20px;
}

.loginButton,.signupButton{
  background-color: green;
  border-radius: 20px;
}

.loginButton:hover, .signupButton:hover{
    background-color: rgb(0, 173, 0)
}

.guestButton:hover{
    background-color: rgb(46, 46, 46);
}

@media (max-width: 600px) {
  .button{
    width: 200px;
  }
}