/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.logo{
    font-size: 1rem;
    cursor: pointer;
}

.navbarRight{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logoutButton, .username{
    cursor: pointer;
}