:root{
    --background: rgb(83, 100, 113);
    --border: rgb(185, 202, 211);
}

/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.logo{
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: clamp(20px,2vw,30px);
    margin: 0;
}

.navbarRight{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logoutButton, .username{
    cursor: pointer;
}

.loginButton,.signupButton{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.postContainer{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
}

.post{
    border-top: 0.5px solid var(--border);
    display: flex;
    flex-direction:column-reverse;
    gap: 1rem;
    padding: 1rem;
    max-width: 500px;
    text-align: left;
}

.post * {
    margin: 0;
}

.postContent{
    line-height: 1.5;
}

.postInfo{
    display: flex;
    justify-content: space-between;
    color: var(--background);
}