:root {
  --background: rgb(83, 100, 113);
  --border: rgb(185, 202, 211);
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 2rem 0;
  padding-right: 1rem;
}

.lottie {
  margin: 0;
  width: 70px;
  cursor: pointer;
}

.navbarLeft {
  display: flex;
  cursor: pointer;
  margin-left: 1rem;
}

.navbarRight {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logoutButton,
.username {
  cursor: pointer;
}

.loginButton,
.signupButton {
  padding: 0;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.postContainer {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: fit-content;
  margin: 0;
}

.post {
  border: 0.5px solid var(--border);
  border-top: 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  padding: 1rem;
  padding-top: 1rem;
  max-width: 500px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post:hover {
  background-color: rgb(244, 244, 244);
}

.post:first-child {
  border-top: 0.5px solid var(--border);
}

.post * {
  margin: 0;
}

.postContent {
  line-height: 1.5;
}

.postInfo {
  color: var(--background);
}

/* Dashleft */
.leftNavContainer {
  height: fit-content;
  position: sticky;
  top: var(--nav-height);
  display: flex;
  flex-direction: column;
}

.leftNavItem {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.leftNavItem:last-child:hover {
  background-color: transparent;
}

.leftNavItem:hover {
  background-color: rgb(244, 244, 244);
}

.leftNavContainer p {
  margin: 0;
  font-size: 1.1rem;
  text-align: left;
}

.leftNavIcon {
  width: 20px;
  height: 20px;
}

.postButton {
  padding: 0.75rem 5rem;
  font-size: 1.25rem;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.postButton:hover {
  background-color: rgb(43, 43, 43);
}

.mobilePostButtonContainer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  display: none;
  align-items: center;
  justify-content: center;
}

.mobilePostButton {
  fill: white;
  width: 30px;
}

.moreButton {
  display: none;
  position: relative;
}

/* Bottom Nav */
.bottomNav {
  display: none;
}

.bottomNavIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 20px;
}

.bottomNavIcon:hover {
  background-color: var(--hover);
}

/* dropdown */
.DropDownContainer {
  padding: 1rem;
  border-radius: 20px;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
  display: none;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 0%;
  animation: sideDropdown 1s ease forwards;
}

.dropDownItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropDownItem p {
  text-align: center;
}

.subscribeButton,
.adminButton {
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribeButton:hover,
.adminButton:hover {
  background-color: var(--hover);
}

@keyframes sideDropdown {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(20%);
  }
}

@keyframes slideUp {
  from {
    transform: translateX(-80%) translateY(0%);
  }
  to {
    transform: translateX(-80%) translateY(-100%);
  }
}

@media (max-width: 1200px) {
  .leftNav {
    display: none;
  }

  .postButton {
    display: none;
  }

  .mobilePostButtonContainer {
    display: flex;
  }

  .leftNavContainer {
    align-items: center;
  }
}

@media (max-width: 1050px) {
  .moreButton {
    display: block;
  }
}

@media (max-width: 620px) {
  .leftNavContainer {
    display: none;
  }

  .DropDownContainer {
    animation: slideUp 1s ease forwards;
  }

  .bottomNav {
    border-top: 0.5px solid var(--border);
    display: flex;
    padding: 1rem;
    background-color: white;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
  }

  .dropDownItem {
    display: flex;
    gap: 0;
  }
}
