/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.logo{
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: clamp(20px,2vw,30px);
    margin: 0;
}

.navbarRight{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logoutButton, .username{
    cursor: pointer;
}

.loginButton,.signupButton{
    cursor: pointer;
    border: none;
    background-color: transparent;
}