:root{
    --background: #f5f5f7
}

/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.logo{
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: clamp(20px,2vw,30px);
    margin: 0;
}

.navbarRight{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logoutButton, .username{
    cursor: pointer;
}

.loginButton,.signupButton{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.postContainer{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
}

.post{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.post * {
    margin: 0;
}

.postInfo{
    display: flex;
}